<% content_for(:title) { 'About' } %>
<h1>About RubyGardens</h1>
<h2>О нас</h2>

<div>RubyGardens является сетью центров обучения, которые предоставляют возможность опытным разработчикам,
  владеющим различными языками программирования, пройти интенсивную переподготовку и стать Ruby
  девелопером.Уже к этому абзацу будущим рубистам должно было наскучить читать информацию с налетом
  официоза, посему продолжим в более привлекательной манере. Если завтра вы проснетесь и решите, что Ruby
  является вашим призванием на ближайшие 50 лет, то прежде всего стоит начать со знакомства с людьми,
  с которыми вы, к гадалке не ходи, столкнетесь в первую очередь.

</div>

<div>
  Александр. Садами, по сути дела, рулит он. 10 с небольшим хвостиком лет опыта в IT и страсть к
  Ruby помогают Александру в ежедневном высаживании деревьев, борьбе с сорняками и противостоянию с
  не всегда благоприятными погодными условиями.
</div>
<%= image_tag "http://rubygardens.org/system/images/BAhbBlsHOgZmSSIpMjAxMS8xMi8yMy8wNV81N18zNV8zODRfSU1HXzUwNTAuSlBHBjoGRVQ/IMG_5050.JPG" %>

<div>
  Ренат и Андрей. Отцы начинания, которые хотят перевернуть мир и раскрасить его в рубиновые тона.
  За плечами 10+ опыта в IT. В настоящем - владение одной из крупных аутсорсинговых компаний. Такой опыт
  служит хорошим удобрением для быстрого и качественного роста наших RubyGardens.
</div>
<%= image_tag "http://rubygardens.org/system/images/BAhbBlsHOgZmSSItMjAxMS8xMi8yNy8wOV8zNF8wNF8xMzdfUmVuYXRfQW5kcmVpLmpwZwY6BkVU/Renat_Andrei.jpg"  %>

<div>
  Сергей.  Он у нас главный по тренерам и запрягу воза Ruby. Кстати, вам может сильно повезти и
  погружать в Ruby будет персонально он.
</div>
<%= image_tag "http://rubygardens.org/system/images/BAhbBlsHOgZmSSInMjAxMS8xMi8yMy8wNV81N18zNV84MzZfU2VyZ2V5LmpwZwY6BkVU/Sergey.jpg" %>

<div>
  И напоследок Кирилл. Милейший человек и профессионал в области R&D.
  Задает направления к новым вершинам.
</div>
<%= image_tag "http://rubygardens.org/system/images/BAhbBlsHOgZmSSInMjAxMS8xMi8yMy8wNV81N18zNV81NzRfS2lyaWxsLmpwZwY6BkVU/Kirill.jpg"%>

<h2>Что мы делаем</h2>
<div>
  RubyGardens предлагает за два месяца высококвалифицированному разработчику, владеющему, например,
  PHP или любым другим языком, стать таким же высококлассным рубистом. Отдельным направлением RubyGardens
  является забота о молодом поколении, которое на данный момент лишь хочет приобщиться к могучей братии
  рубистов, но навыки в девелопменте имеет минимальные
</div>
<%= image_tag "http://rubygardens.org/system/images/BAhbBlsHOgZmSSIsMjAxMS8xMi8yMy8wOF8wOV81OF81ODZfX3doYXRfd2VfZG8ucG5nBjoGRVQ/%20what-we-do.png"  %>
<div>
  RubyGardens в течение двух месяцев на 100% погружает курсанта в Ruby: интенсивные занятия,
  возрастающие по уровню сложности задачи, поддержка со стороны тренеров, постоянные мозговые штурмы
  и коллективная работа. На финише все курсанты получают возможность применить свои навыки в топовых Ruby
  проектах.
</div>